/*#welcome{
    color: #13ADF5;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 50px;
    width: 100px;
    text-align: center;
}*/

h1{
    display: inline;
}

#chirp{
    background-color: #00FFF2;
    float: right;
    margin-right: 385px;
    margin-top: 50px;
    width: 100px;
    height: 50px;
    font-size: 30px; 
}

#chirptext{
    width: 700px;
    height: 150px;
    font-size: 25px;
}

#chirp-container{
    border: 2.5px solid black;
    width: 700px;
    height: 700px;
    background-color: #5CA7A0; 
    font-size: 25px;
}

